@import url("https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap");

/* ----- RESET ----- */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  user-select: none;
}

/* ----- TYPOGRAPHY ----- */

body {
  color: #333;
  font-family: "Tilt Neon", cursive;
}

h1,
h3 {
  margin: 0;
}

h1 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  color: #333;
  font-size: 1.875rem;
}

h2 {
  color: #333;
  font-size: 1.375rem;
  margin-top: 0;
  margin-bottom: 0.8rem;
  text-align: center;
}

h3 {
  font-size: 1.25rem;
  color: #333;
}

p {
  line-height: 1.5;
  color: rgb(75, 75, 75);
  margin-top: 1.5rem;
}

.subheading {
  display: flex;
  justify-content: center;
  margin-top: 0.6rem;
  font-size: 1rem;
  color: #4b4b4b;
}

.section-two h2 {
  color: #4b4b4b;
}

/* ----- LINKS ----- */

a {
  color: #4e8ec1;
  text-decoration: none;
}

a:hover,
a:active {
  color: #206d9a;
}

.btn {
  font-size: 1.125rem;
  text-align: center;
  font-weight: 500;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5em 1em;
  margin-bottom: 1em;
  border-radius: 4.6px;
  background-color: #4e8ec1;
  color: #fff;
  gap: 0.3rem;
}

.btn,
.btn-mid,
.btn-light,
.btn-mess {
  background-color: #4e8ec1;
  color: #fff;
  align-items: center;
}

.btn-light:hover,
.btn-light:active,
.btn-mid:hover,
.btn-mid:active,
.btn-mess:hover,
.btn-mess:active {
  background-color: #206d9a;
  color: #fff;
}

/* ----- LAYOUT ----- */

.header {
  display: flex;
  flex-direction: column;
}

.fb-logo {
  width: 2rem;
}

.logo {
  width: 10%;
}

header,
section,
footer {
  padding: 1.25em 0;
}

header,
.section-two {
  background-color: #f0f5f9;
}

.section-two {
  color: whitesmoke;
}

.container {
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
}

.container header {
  display: flex;
  flex-direction: row;
}

.main-image {
  width: 100%;
  display: block;
  max-width: 640px;
  margin: 0 auto 2em;
  border-radius: 6px 6px 0 0;
}

.section-two-image-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  margin-bottom: 1rem;
}

.feature-image {
  width: 100%;
  height: 80%;
  border-radius: 4.6px 4.6px 0 0;
}

.feature-item {
  flex: 1 260px;
  text-align: center;
  background-color: #fff;
  font-size: 1.125rem;
  border-radius: 4.6px;
}

footer {
  text-align: center;
  color: #666;
  font-size: 0.8rem;
}

/* ----- NAVIGATION ----- */

nav a {
  color: #3d13f6;
  text-decoration: none;
}

button:focus,
a:focus {
  outline: 2px solid var(--pink);
}

body:not(.user-is-tabbing) button:focus,
body:not(.user-is-tabbing) a:focus {
  outline: none;
}

.link:hover {
  color: var(--pink);
}

.back-to-top {
  position: fixed;
  bottom: 2rem;
  right: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4.5rem;
  width: 4.5rem;
  background-color: #4e8ec1;
  border-radius: 50%;
  z-index: 10;
  visibility: hidden;
  transition: all 0.4s;
}

.back-to-top:hover {
  background-color: #206d9a;
}

.back-to-top__image {
  height: 70%;
}

@media (max-width: 900px) {
  .back-to-top {
    right: 2rem;
  }
}

@media (max-width: 500px) {
  .back-to-top {
    right: 1rem;
  }
}
